# Overwrite Dataset Setting
only_overlap_users: True # Whether to construct a fully-overlapped (warm-start) or partially-overlapped (cold-start) user set
k_cores: 3 # only work with only_overlap_users, for dual domain k-cores, at least 3 otherwise can not split train/valid/test
shuffle_user_sequence: True  # weather shuffle users' item sequence before split train/valid/test dataset
warm_valid_ratio: 0.1 # Ratio of interactions from warm users in the target domain to be assigned to the validation set
warm_test_ratio: 0.1 # Ratio of interactions from warm users in the target domain to be assigned to the test set
t_cold_valid: 0 # cold user in the target domain valid set
t_cold_test: 0 # cold user in the target domain test set

# 1. Eval Setting
warm_eval: True  # Whether to enable warm user evaluation
cold_start_eval: False # Whether to enable cold start user evaluation

# 2. Multi-stage Training Setting
# (state, epochs, train_batch_size, learner, learning_rate, learning_rate_scheduler, weight_decay) is required for each stage
# clip_grad_norm is optional
training_stages:
  - name: target_training
    state: TARGET
    epochs: 1000
    train_batch_size: 2048
    learner: adam
    learning_rate: [0.001, 0.01]
    learning_rate_scheduler: [ 1.0, 50 ]
    weight_decay: 0.0
#    clip_grad_norm: {"max_norm": 1.0}

# 3. Fixed Model Parameters Setting
loss_type: bpr
dropout: 0.2
feature_dim: 64
mlp_hidden_dim: 128
mlp_layers: 0
log_model_suffix: BPRMF

# 4. Model Hyperparameter Grid Search Setting

# hyperparameter search space
hyper_parameters: ["training_stages.0.learning_rate"]
