# 1. Eval Setting
warm_eval: True  # Whether to enable warm user evaluation
overlapped_users_for_warm_eval: True # Warm evaluation is performed only after filtering users that exist in both domains (overlapped users).
cold_start_eval: False # Whether to enable cold start user evaluation

# 2. Multi-stage Training Setting
# (state, epochs, train_batch_size, learner, learning_rate, learning_rate_scheduler, weight_decay) is required for each stage
# clip_grad_norm is optional
training_stages:
  - name: target_training
    state: TARGET
    epochs: 1000
    train_batch_size: 2048
    learner: adam
    learning_rate: [0.001, 0.01]
    learning_rate_scheduler: [ 1.0, 50 ]
    weight_decay: 0.0
#    clip_grad_norm: {"max_norm": 1.0}

# 3. Fixed Model Parameters Setting
loss_type: bpr
dropout: 0.2
feature_dim: 64
mlp_hidden_dim: 128
mlp_layers: 0

# 4. Model Hyperparameter Grid Search Setting

# hyperparameter search space
hyper_parameters: ["training_stages.0.learning_rate"]
