loss_type: bpr
dropout: 0.2
mlp_layers: 2

feature_dim: [128]
learning_rate: [0.005, 0.01]
mlp_hidden_dim: [128]

# hyperparameter search space
hyper_parameters: ["feature_dim", "learning_rate", "mlp_hidden_dim"]
