# 1. Eval Setting
warm_eval: True  # Whether to enable warm user evaluation
overlapped_users_for_warm_eval: True # Warm evaluation is performed only after filtering users that exist in both domains (overlapped users).
cold_start_eval: True # Whether to enable cold start user evaluation

# 2. Multi-stage Training Setting
# (state, epochs, train_batch_size, learner, learning_rate, learning_rate_scheduler, weight_decay) is required for each stage
# clip_grad_norm is optional
training_stages:
  - name: both_training
    state: BOTH
    epochs: 1000
    train_batch_size: 2048
    learner: adam
    learning_rate: [0.001, 0.01]
    learning_rate_scheduler: [1.0, 50]
    weight_decay: 1e-6

# 3. Fixed Model Parameters
feature_dim: 64
dropout: 0.1
loss_type: l2
history_len: 50
layer_norm: 1
n_heads : 1
timestep: 100
beta_sche: linear
uncon_w: 2
uncon_p: 0.1
diffuser_type: mlp1
stopping_step: 200

# 4. Model Hyperparameter Grid Search Setting

# hyperparameter search space
hyper_parameters:
  - training_stages.0.learning_rate
