# 1. Eval Setting
warm_eval: False  # Whether to enable warm user evaluation
overlapped_users_for_warm_eval: False # Warm evaluation is performed only after filtering users that exist in both domains (overlapped users).
cold_start_eval: True # Whether to enable cold start user evaluation

# 2. Multi-stage Training Setting
# (state, epochs, train_batch_size, learner, learning_rate, learning_rate_scheduler, weight_decay) is required for each stage
# clip_grad_norm is optional
training_stages:
  - name: both_training
    state: BOTH
    epochs: 1000
    train_batch_size: 2048
    learner: adam
    learning_rate: [0.001, 0.01]
    learning_rate_scheduler: [ 1.0, 50 ]
    weight_decay: 0.0

# 3. Fixed Model Parameters Setting
feature_dim: 64
dropout: 0.3
leaky: 0.05
momentum: 0.999
tau: 0.5
alpha: 0.5
gamma: 0.1
walk_steps: 5
inter_batch_size: 64
GNN: 2
# 4. Model Hyperparameter Grid Search Setting
num_intents: [4,2]
beta: [0.1, 0.3, 0.5]
lamda: [0.1, 0.3, 0.5]

# hyperparameter search space
hyper_parameters:
  - training_stages.0.learning_rate
  - num_intents
  - beta
  - lamda
