# 1. Eval Setting
warm_eval: False  # Whether to enable warm user evaluation
overlapped_users_for_warm_eval: False # Warm evaluation is performed only after filtering users that exist in both domains (overlapped users).
cold_start_eval: True # Whether to enable cold start user evaluation

# 2. Multi-stage Training Setting
# (state, epochs, train_batch_size, learner, learning_rate, learning_rate_scheduler, weight_decay) is required for each stage
# clip_grad_norm is optional
training_stages:
  - name: source_training
    state: SOURCE
    epochs: [20,40,60,80]
    train_batch_size: 2048
    learner: adam
    learning_rate: 0.01
    learning_rate_scheduler: [ 1.0, 50 ]
    weight_decay: 0.0
  - name: target_training
    state: TARGET
    epochs: [20,40,60,80]
    train_batch_size: 2048
    learner: adam
    learning_rate: 0.01
    learning_rate_scheduler: [ 1.0, 50 ]
    weight_decay: 0.0
  - name: mapping_training
    state: OVERLAP_USER
    epochs: 1000
    train_batch_size: 2048
    learner: adam
    learning_rate: [0.001, 0.005, 0.01]
    learning_rate_scheduler: [ 1.0, 50 ]
    weight_decay: 0.0

# 3. Fixed Model Parameters Setting
feature_dim: 64
mlp_hidden_dim: 128
mlp_layers: [2,3,4]
dropout: 0.2
loss_type: bpr
# 4. Model Hyperparameter Search Setting

# hyperparameter search space
hyper_parameters:
  - training_stages.0.epochs
  - training_stages.1.epochs
  - training_stages.2.learning_rate
  - mlp_layers
