# 1. Eval Setting
warm_eval: False  # Whether to enable warm user evaluation
overlapped_users_for_warm_eval: False # Warm evaluation is performed only after filtering users that exist in both domains (overlapped users).
cold_start_eval: True # Whether to enable cold start user evaluation

# 2. Multi-stage Training Setting
# (state, epochs, train_batch_size, learner, learning_rate, learning_rate_scheduler, weight_decay) is required for each stage
# clip_grad_norm is optional
training_stages:
  - name: source_training
    state: SOURCE
    epochs: [10]
    train_batch_size: 2048
    learner: adam
    learning_rate: 0.01
    learning_rate_scheduler: [ 1.0, 50 ]
    weight_decay: 0.0
  - name: target_training
    state: TARGET
    epochs: [10]
    train_batch_size: 2048
    learner: adam
    learning_rate: 0.01
    learning_rate_scheduler: [ 1.0, 50 ]
    weight_decay: 0.0
  - name: mapping_training
    state: OVERLAP
    epochs: 1000
    train_batch_size: 2048
    learner: adam
    learning_rate: [ 0.0001,0.001,0.01 ]
    learning_rate_scheduler: [ 1.0, 50 ]
    weight_decay: 0.0

# 3. Fixed Model Parameters Setting
feature_dim: 64
meta_dim: 128
# 4. Model Hyperparameter Grid Search Setting
#history_len: [10, 20, 40]
history_len: [60, 80, 100]

# hyperparameter search space
hyper_parameters:
  - training_stages.0.epochs
  - training_stages.1.epochs
  - training_stages.2.learning_rate
  - history_len
